<h3>Komentáře hodnocení</h3>

<p>Zapněte tuto volbu pro povolení 5-hvězdičkového hodnocení položek portfolia a pohledů.</p>

<p>Všimněte si, že hodnocení musí být doplněno o komentář nebo přílohu.</p>
