<h3>Zájmy</h3>
<p>V této položce můžete uvést své osobní i profesní zájmy.  Může jít o vaše koníčky, sportovní činnost, doborvolnou práci, oblasti výzkumu a profesního zaměření apod.  Tím, že tyto zájmy uvedete, pomůžete zaměstnavatelům udělat si lepší obrázek o tom, jací jste a čím můžete do jejich organizace přispět.</p>
