<h3>Upravit</h3>
<p>Zaškrtnutím políčka nalevo od tématu zvolte daná témata a následně určete, jak mají být upravena.</p>
<p><strong>Přihlásit k odběru</strong>: budete dostávat upozornění na příspěvky k vybraným tématům.</p>
<p><strong>Unsubscribe</strong>: nebudete dostávat upozornění na příspěvky k vybraným tématům.</p>
<p><strong>Trvalý</strong>: Trvalá témata diskuse jsou zobrazena vždy nahoře na stránce.</p>
<p><strong>Volný</strong>: Volná témata diskuze jsou řazena chronologicky.</p>
<p><strong>Otevřený</strong>: Na otevřená témata mohou odpovídat všichni členové skupiny.</p>
<p><strong>Uzavřený</strong>: Na uzavřená témata mohou odpovídat pouze moderátoři a správci skupiny.</p>
