<h3>Skupinové soubory</h3>
<p>Prostor skupinových souborů je úložištěm sdílených složek a souborů, které lze použít v pohledech vašich skupin.</p>
<p>Své soubory a složky můžete přesouvat myší.</p>
<p>Váš administrátor může z bezpečnostních důvodů zakázat nahrávání některých typů souborů do systému.</p>
