<h3>Obrázky profilu</h3>
<p>
    Záložka Obrázky profilu vám umožňuje nahrát obrázky, které se budou 
    objevovat vedle vašeho jména na mnoha místech systému.
</p>
<p>
    V prostoru pro obrázky profilu můžete mít najednou až 5 ikon. Obrázky, 
    které sem nahrajete musí mít rozměr alespoň 16x16 pixelů. Tyto obrázky se 
    započítávají do celkové kvóty vyšich souborů.
</p>
<p>
    Váš výchozí obrázek uvidí ostatní lidé vedla vašeho jména. Ostatní obrázky 
    můžete použít v pohledech, které vytvoříte.
</p>
<p>
    <strong>Upozornění:</strong> Všechny vaše obrázky profilu jsou dostupné 
    ostatním přihlášeným uživatelům, i když nejsou v dané chvíli nastavené jako 
    výchozí, takže nechcete-li, aby je ostatní viděli, odstraňte je.
</p>
