<h3>Automatické přihlášení k odběru</h3>
<p>Chcete-li, aby byli uživatelé automaticky přihlášeni k odběru příspěvků tohoto fóra, jakmile se do něho přihlásín, zvolte možnost "ano".</p>
<p>Když jsou uživatelé přihlášeni k odběru, budou dostávat upozornění, kdykoliv se v daném fóru objeví nový příspěvek nebo odpověď.</p>
<p>Nechtějí-li být uživatelé nadále upozorňováni na nové příspěvky, mají možnost se odhlásit od odběru.</p>
