<h3>Moje Blogy</h3>
<p>Blog je nástroj podobný deníku, který vám umožňuje zaznamenávat vaše nápady a zkušenosti.</p>
<p>V základním nastavení můžete své blogy číst pouze vy. Přidáte-li blog do pohledu, umožníte lidem tento blog číst a přidávat k němu komentáře.</p>
<p>Nejprve je třeba, abyste si blog vytvořili a potom do něj můžete přidávat záznamy. Můžete mít tolik různých blogů, kolik chcete.</p>
