<h3>Kvóta</h3>
<p>Bylo vám přiděleno pevné množství úložného prostoru, kam můžete nahrávat své soubory. Jestliže se blížíte limitu své kvóty, obraťte se na administrátora s prosbou o jeho navýšení.</p>
