<h3>Tags</h3>
<p>K výtvorům i Pohledům vytvořeným v Mahaře můžet přiřadit štítky.  Štítky Vám umožní přidat k Výtvorům a Pohledům popisné nálepky a vytvořit si tak jejich tříděný seznam.</p>
<p>Chcete-li přiřadit k Výtvoru nebo Pohledu více Štítků, oddělte jednotlivé Štítky čárkami.  Například - ‘hodnocení, druhé pololetí, výsledky’.</p>
<p>Kliknutím na <b>Ukaž mé štítky</b> zobrazíte seznam Štítků, které jste již ve svém portfoliu použili a jak často byly tyto štítky vloženy. Kliknutím na již existující Štítek ho přiřadíte k seznamu Štítků pro Výtvor nebo Pohled, který právě vytváříte nebo upravujete.</p>
<p>Pomocí <b>Prohledej mé portfolio</b> můžete najít všechny Výtvory a Pohledy, ke kterým jste přiřadili konkrétní Štítek, a můžete tak vytvořit systém složek nebo obsah svého portfolia.</p>
