<h3>Automatické přidávání uživatelů do skupin</h3> <p>Pokud zaškrtnete toto políčko, každý, kdo se zaregistruje na této stránce, bude automaticky přidán do této skupiny.</p> <p>Uživatelé mohou opustit tuto skupinu podle pravidel pro daný typ skupiny.</p> 