<h3>Štítky</h3> <p>
Na stránky, které vytvoříte, můžete přidat štítky, což jsou značky nebo klíčová slova, která lze použít pro třídění a vyhledávání stránek.</p> 
<p>Kliknutím na <strong>Zobrazit mé štítky</strong> se vytvoří seznam použitých štítků a počet položek, kde byly tyto štítky použity. Kliknutím na štítek v tomto seznamu bude nový štítek přidán do stávajícího seznamu štítků k dané stránce nebo bude odstraněn v případě, že byly označeny stránky s tímto štítkem.</p>