<h3>Veřejně viditelná skupina?</h3> <p>Pokud zaškrtnete dané políčko, povolíte komukoliv (včetně návštěvníků, kteří na těchto stránkách nemají účet) vidět většinu sekcí této skupiny.</p>

 <p> Každý bude mít možnost vidět seznam členů skupiny i všechny diskuse ve fórech. Nicméně pro účast v diskusních fórech (zasílání příspěvků) se návštěvník musí stát členem skupiny.</p> <p>Dané nastavení se netýká sekce Soubory. Všechny soubory v této sekci zůstávají soukromé bez ohledu na to, zda dané políčko zaškrtnete.</p>