<h3>HTML Editor</h3> <p>Toto nastavení definuje zda je či není HTML editor nastaven jako výchozí.  Pokud nastavíte <b>Definováno uživatelem</b>, uživatelé budou si moci ve svém osobním nastavení vybrat, zda chtějí HTML editor zapnout či vypnout.</p>