<h3>Spouštět clam pomocí</h3> <p>Cesta k souboru <code>clamscan</code> nebo <code>clamdscan</code> pro antivirovou kontrolu. Předpokládá se, že selhání programu ClamAV bude mít za následek, že se soborem bude zacházeno jako kdyby obsahoval virus a Mahara automaticky zajistí karanténu.</p>