<h3>Výchozí povolená doba nečinnost</h3> <p>Je-li tato doba nastavena, uživatelé, kteří se po tuto dobu nepřihlásí, budou považováni za neaktivní a jejich účet bude deaktivován. Povolenou dobu nečinnosti je možné nastavit ve dnech, týdnech, měsících nebo letech, případně může být zvoleno neomezená možnost doby nečinnosti uživatele, a to volbou nikdy.</p> 
