<h3>Jazyk</h3> <p>Vybraný jazyk bude nastaven jako výchozí jazyk na vašich stránkách. Pokud existují na vašich stránkách další jazykové verze, uživatelé budou moci změnit svůj preferovaný jazyk prostřednictvím nastavení svého účtu.</p>