<h3>Délka platnosti session</h3> <p>Z bezpečnostních důvodů bude uživatel automaticky odhlášen ze stránky po určité době nečinnosti. Pole "Délka platnosti session" určuje po kolika minutách nečinnosti bude uživatel automaticky odhlášen.
</p> 