<h3>Povolit veřejné profily</h3> <p>
Pokud chcete povolit uživatelům, aby stránka s jejich profilem byla veřejně přístupná, nastavte "ano". I když budou veřejné profily povoleny, interaktivní funkce, jako je zeď,  budou moci využívat pouze přihlášení uživatelé.</p> 