<h3>Certifikáty, diplomy a ceny</h3>
<p>Uveďte jakékoliv certifikáty, diplomy a ceny, které jste obdrželi; např. Zdravotnické osvědčení, apod.</p>
<p>Záznamy se zobrazují v převráceném chronologickém pořadí. Chcete-li přidat, nový záznam, klikněte na Přidat. Nechcete-li svůj záznam ukládat, klikněte na Zrušit.</p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
<p>Nové záznamy se v životopisu zobrazují formou tabulky. Záznam upravíte kliknutím na <span style="text-decoration:underline">Upravit</span>. Nezapomeňte změny Uložit, potom klikněte na <span style="text-decoration:underline">Můj životopis</span> a dostanete se na hlavní stránku. Kliknete-li na <span style="text-decoration:underline">Odstranit</span>, záznam odstraníte.</p>
<p>Jestliže jste u certifikátu uvedli popis, poklikáním na jeho jméno popis zobrazíte, příp. skryjete.</p>
