<h3>Upravit profil</h3>
<p>Každé z profilových políček je oddělená položka, kterou můžete vložit do svého pohledu nezávisle na ostatních. Některé z políček nemusí být upravitelné. Byly administrátorem uzamčeny a slouží k identifikaci uživatele.</p>
<p><strong>Varování:</strong> Než zveřejníte kontaktní iformace na veřejně přístupné místo, zvažte míru bezpečnosti svých osobních údajů.<p>
