<h3>Plugin Administration</h3>
<p>Profilová pole označená jako povinná musí být zahrnuta v CSV souboru při tvorbě uživatelského účtu nebo doplněna uživatelem při registraci na stránku.</p>
<p>Profilová pole označená jako veřejná budou dostupná všem registrovaným uživatelům v rámci vyhledávání a zobrazí se ve veřejném profilu uživatele.</p>
