<h3>Velikost ikony</h3>
<p>Velikost ikony určuje maximální výšku a šířku uživatelovy profilové ikony v pixelech. Všechny obrázky nahrané do složky Obrázky profilu budou upraveny na tuto velikost.</p>
