<h3> Najít přátele </h3> <p> Stránka umožňuje vyhledat ostatní uživatele pro přidání mezi přátele. Podle jejich nastavení volby „Nastavení přátel“ můžete být buď automaticky akceptován jako jejich přítel nebo může být potřeba poslat žádost o přátelství. Je možné, že někteří uživatelé vůbec nepovolují zaslání žádosti o přátelství. </p> Jako součást žádosti o přátelství můžete pro Vaše představení zvolit krátkou zprávu, což je důležité především v případě, že pro ostatní není viditelné Vaše skutečné jméno.</p>
