<h3> Moji přátelé </h3> <p> Stránka zobrazuje seznam Vašich přátel a stránek, které jsou s Vámi sdíleny. </p> Uživatel může znovu požádat o přátelství, a to i v případě, že byl daným uživatelem již dříve odmítnut. </p>