<h3>Můj životopis</h3>
<p>Tato záložka vám umožňuje vytvořit si online životopis nebo CV. Je rozdělena na dvě části - do jedné můžete vkládat obecné informace a do druhé podrobnosti o svých zkušenostech a kvalifikaci.</p>
<p>Chcete-li zobrazit nebo skrýt některou ze čtyř položek v obecných informacích, klikněte na název dané položky.</p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>

