<h3>Mé dovednosti</h3>
<p>Záložka Mé dovednosti je rozdělena do tří sekcí: Osobnostní, Vzdělávací a Pracovní. Pomocí HTML editoru můžete v jednotlivých kolonkách tyto dovednosti popsat. Poté je můžete vložit do svých pohledů.</p>
<p>Zaměstnavatele vždy zajímá, jaké dovednosti do své nové pozice přinášíte. Také můžete v této sekci popsat, jaké schopnosti můžete přinést do pracovní skupiny nebo komunity.</p>
<p><strong>Upozornění:</strong> Je důležité uložit každou novou informaci pomocí tlačítka na spodní části stránky.</p>
