<h3>Správa modulů</h3> <p>V seznamu správy modulů části jsou uvedeny všechny moduly, které jsou v současné době nainstalovány na vašich stránkách Mahara. Správa modulů poskytuje odkaz na nastavení konfigurace modulu pro jeho případné přizpůsobení.</p>