<h3>Nastavení stránek</h3> <p>Hlavní stránky  Mahary mohou být dynamicky editovány správcem stránek. Pokud chcete upravit obsah některou stránku odlišně od výchozího nastavení, vyberte stránku, kterou chcete upravit a upravovte ji pomocí HTML editoru. Ujistěte se, že upravená stránka byla uložena dříve než načtete další stránku pro editaci nebo opustíte editování.
</p>