<h3>Prohledej mé soubory</h3>
<p>Pokud si přejete připojit ke svému blogovému příspěvku soubor uložený mezi vašimu soubory, můžete své soubory prohledat.</p>
<p>Projděte obsah svých složek a připojte požadovaný soubor (nebo soubory). Složka &#8216;blogfiles&#8217; obsahuje soubory, které jste k blogovým příspěvkům již dříve připojili.</p>
