<h3>E-mailová adresa</h3>
<p>E-mailová adresa, kterou jste zadali během registrace je sice nastavena jako vaše hlavní kontaktní adresa, nicméně e-mailových adres můžete mít několik. V profilu můžete používat jakoukoliv platnou e-mailovou adresu.</p>
<p>Chcete-li přidat novou adresu, klikněte na <a onclick="email_new(); return false;" href="">Přidat e-mailovou adresu</a>. Jakmile svůj profil uložíte, na novou adresu vám bude odeslána zpráva. Klikněte na odkaz uvedený v této zprávě a vaše adresa bude potvrzena.</p>
<p><strong>Upozornění:</strong> Tento e-mailový odkaz má platnost 24 hodin. Poté budete muset proces zopakovat.</p>
